VSVersionInfo(
  ffi=FixedFileInfo(
    filevers=(1, 2, 0, 0),
    prodvers=(1, 2, 0, 0),
    mask=0x3f,
    flags=0x0,
    OS=0x40004,
    fileType=0x1,
    subtype=0x0,
    date=(0, 0)
  ),
  kids=[
    StringFileInfo(
      [
        StringTable(
          '040904B0',
          [StringStruct('CompanyName', 'infinitel8p'),
           StringStruct('FileVersion', '1.2.0.0'),
           StringStruct('InternalName', 'YouTube Downloader'),
           StringStruct('OriginalFilename', 'YouTube Downloader.exe'),
           StringStruct('ProductName', 'YouTube Downloader'),
           StringStruct('ProductVersion', '1.2.0.0'),
           StringStruct('FileDescription', 'Simple youtube downloader with gui. More info at https://github.com/infinitel8p/youtube-dl')]

        )
      ]
    ),
    VarFileInfo([VarStruct('Translation', [0x409, 0x4B0])])
  ]
)
